name: Add changelog to release
on:
  push:
    tags:
      - "v*"

jobs:
  update-release:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v6

  build:
    name: Build images
    runs-on: ubuntu-latest

    permissions:
      packages: write

    strategy:     
      fail-fast: true
      matrix:
        arch: ["amd64"]

    steps:
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ github.token }}

      - name: Sanitize repo slug
        uses: actions/github-script@v8
        id: repo-slug
        with:
          result-encoding: string
          script: return '${{ github.repository }}'.toLowerCase()

      - name: Get release version
        id: release
        run: |
          version="${{ github.event.release.tag_name }}"
          echo "version=${version//v}" >> $GITHUB_OUTPUT

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/${{ steps.repo-slug.outputs.result }}
          tags: |
            type=raw,priority=900,value=${{ steps.release.outputs.version }}
            latest
          labels: |
            org.opencontainers.image.source="https://github.com/vmware/open-vm-tools"
            org.opencontainers.image.description="Official repository of VMware open-vm-tools project"
            org.opencontainers.image.licenses="GPL-2.0-only"

      - uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        continue-on-error: true
        id: buildx1
        with:
          context: .
          platforms: linux/${{ matrix.arch }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      # Temp workaround for failed builds
      - name: Wait to retry
        if: steps.buildx1.outcome != 'success'
        run: |
          sleep 60

      # Temp workaround for failed builds
      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        if: steps.buildx1.outcome != 'success'
        with:
          context: .
          platforms: linux/${{ matrix.arch }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}